@model Models.University

@{
    ViewData["Title"] = "AboutUs";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Helwan University</title>
    <link rel="stylesheet" href="/css/DetailsUni.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        <div class="university-header text-center my-4">
            <img src="@ViewBag.LogoTitle" alt="University Logo" class="img-fluid" />
            <p><strong>Our University Logo</strong></p>
        </div>
        <div class="university-details">
            <h4>@Model.Name</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3 font-weight-bold">University Description:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Description)</dd>

                <dt class="col-sm-3 font-weight-bold">University Image:</dt>
                <dd class="col-sm-9">
                    <img src="@Model.MainPicture" alt="University Image" class="img-fluid" style="max-width: 100%;" />
                </dd>

                <dt class="col-sm-3 font-weight-bold">Contact Us on Facebook:</dt>
                <dd class="col-sm-9">
                    <a href="@Model.FacebookPage" target="_blank">@Model.FacebookPage</a>
                </dd>

                <dt class="col-sm-3 font-weight-bold">Contact Us on LinkedIn:</dt>
                <dd class="col-sm-9">
                    <a href="@Model.LinkedInPage" target="_blank">@Model.LinkedInPage</a>
                </dd>

                <dt class="col-sm-3 font-weight-bold">Our Homepage:</dt>
                <dd class="col-sm-9">
                    <a href="@Model.MainPage" target="_blank">@Model.MainPage</a>
                </dd>

                <dt class="col-sm-3 font-weight-bold">Contact Us:</dt>
                <dd class="col-sm-9">
                    <a href="mailto:@Model.ContactMail">@Model.ContactMail</a>
                </dd>

                <dt class="col-sm-3 font-weight-bold">Foundation:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.HistoricalBackground)</dd>
            </dl>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
