@model Models.University

@{
    ViewData["Title"] = "About Us";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <!-- StyleSheet -->
    <link rel="stylesheet" href="/css/DetailsUni.css" />
</head>
<body>
    <div class="container">
        <div class="university-header text-center my-4">
            <img src="@ViewBag.LogoTitle" alt="University Logo" class="img-fluid" />
            <p><strong>Our University Logo</strong></p>
        </div>
        <div class="university-details">
            <h4>@Model.Name</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2 text-Arabic">@Html.DisplayName("University description:")</dt>
                <dd class="col-sm-10 text-Arabic" style="margin-top: 10px; overflow-wrap: break-word;">@Html.DisplayFor(model => model.Description)</dd>

                <dt class="col-sm-2 text-Arabic">@Html.DisplayName("University image:")</dt>
                <dd class="col-sm-10" style="margin-top: 20px;">
                    <img src="@Model.MainPicture" alt="University Image" style="max-width: 100%; height: auto;" />
                </dd>

                <!-- Buttons FrontEnd -->
                <dt class="col-sm-2 text-Arabic">@Html.DisplayName("Contact us on Facebook:")</dt>
                <dd class="col-sm-10" style="margin-top: 20px; overflow-wrap: break-word;"><a href="@Model.FacebookPage" target="_blank">@Model.FacebookPage</a></dd>

                <dt class="col-sm-2 text-Arabic">@Html.DisplayName("Contact us on LinkedIn:")</dt>
                <dd class="col-sm-10" style="margin-top: 20px; overflow-wrap: break-word;"><a href="@Model.LinkedInPage" target="_blank">@Model.LinkedInPage</a></dd>

                <dt class="col-sm-2 text-Arabic">@Html.DisplayName("Our homepage:")</dt>
                <dd class="col-sm-10" style="margin-top: 9px; overflow-wrap: break-word;"><a href="@Model.MainPage" target="_blank">@Model.MainPage</a></dd>

                <dt class="col-sm-2 text-Arabic" style="font-size: 16px;">@Html.DisplayName("Contact us:")</dt>
                <dd class="col-sm-10" style="margin-top: 10px; overflow-wrap: break-word;"><a href="mailto:@Model.ContactMail">@Model.ContactMail</a></dd>

                <dt class="col-sm-2 text-Arabic">@Html.DisplayName("Foundation:")</dt>
                <dd class="col-sm-10 text-Arabic" style="margin-top: 9px; overflow-wrap: break-word;">@Html.DisplayFor(model => model.HistoricalBackground)</dd>
            </dl>
        </div>
    </div> 
</body>
</html>
