@model Faculty

@{
    ViewData["Title"] = $"{Model.Name} Faculty";
    Layout = null;
}

<title>@ViewData["Title"] - Helwan University</title>
<link rel="icon" href="@ViewBag.LogoTitle" type="image/png">

<!-- External Stylesheets -->
<link rel="stylesheet" href="/css/SideBar.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="/css/Faculty.css">

@await Html.PartialAsync("~/Areas/Students/Views/Shared/StudentSidebar.cshtml")

<div id="main-content">
    <div class="container faculty-details-container">
        <div class="faculty-card">
            @if (!string.IsNullOrEmpty(Model.Logo))
            {
                <img src="@Model.Logo" class="faculty-logo" alt="Logo">
            }
            <h2 class="text-center">@Model.Name Faculty</h2>
            <div class="faculty-detail mt-4">
                <div class="faculty-image-wrapper">
                    @if (!string.IsNullOrEmpty(Model.Picture))
                    {
                        <img src="@Model.Picture" class="faculty-image img-fluid" alt="@Model.Name">
                    }
                </div>
                <div class="faculty-info-wrapper">
                    <div class="faculty-info">
                        <img src="@ViewBag.Dean.Picture" alt="@ViewBag.Dean.Name" style="width: 80px; height: 80px; border-radius: 50%; margin-right: 10px;">
                        <strong>Dean:</strong> <span>@ViewBag.Dean.Name</span>
                    </div>
                    <br/>
                    <p class="faculty-description">@Model.Description</p>
                    <div class="faculty-info">
                        <i class="fa fa-eye"></i> <strong>Visitors:</strong> <span>@Model.ViewCount</span>
                    </div>
                    <div class="faculty-info">
                        <strong>Departments Count:</strong> <span>@Model.Departments.Count</span>
                    </div>
                    <br />
                    <h3 class="section-title">Departments:</h3>
                    <ul class="department-list">

                        @foreach (var department in Model.Departments)
                        {
                            <li>
                                @department.Name
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

