@model List<Faculty>

@{
    ViewData["Title"] = "Faculty";
}

<!-- External Stylesheets -->
<link rel="stylesheet" href="/css/Faculty.css">

<div class="container">
    <h1 class="text-center my-4">Faculities</h1>
    <div class="row">
        @foreach (var faculty in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card card-custom h-100">
                    @if (!string.IsNullOrEmpty(faculty.Picture))
                    {
                        <img src="@faculty.Picture" class="card-img-top" alt="@faculty.Name">
                    }
                    <div class="card-body">
                        @if (!string.IsNullOrEmpty(faculty.Logo))
                        {
                            <img src="@faculty.Logo" alt="Logo" style="height: 50px; margin-bottom: 10px;">
                        }
                        <h5 class="card-title">@faculty.Name</h5>
                        <p class="card-text">
                            @(faculty.Description?.Length > 100 ?
                                faculty.Description.Substring(0, 100) + "..." :
                                faculty.Description)
                        </p>
                        <p class="card-text"><small class="text-muted">Number of departments: @faculty.Departments?.Count</small></p>
                        <a href="@Url.Action("Details", "Faculty", new { id = faculty.Id })" class="btn btn-primary btn-custom">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



