@model IEnumerable<Models.Faculty>

@{
    ViewData["Title"] = "AllFaculities";
    var departmentsByFaculty = ViewBag.DepartmentsByFaculty as Dictionary<int, List<(int Id, string Name)>>;

}

<h1>Results</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayName("Departments")
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                 <img src="@item.Logo" alt="@item.Name" width="50" height="50" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td>
                    @if (departmentsByFaculty != null && departmentsByFaculty.ContainsKey(item.Id))
                    {
                        <ul>
                            @foreach (var department in departmentsByFaculty[item.Id])
                            {
                                <li>
                                    @department.Name
                                    <a href="@Url.Action("Index", "AcademicRecords", new { Departmentid = department.Id, Facultyid = item.Id })" class="ml-2">
                                        <i class="fas fa-user"></i>
                                    </a>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <span>N/A</span>
                    }
                </td> 
        </tr>
}
    </tbody>
</table>
