@model List<Faculty>

@{
    ViewData["Title"] = "Faculities";
}

<!-- Stylesheets -->
<link rel="stylesheet" href="/css/Faculty.css">

<div class="container">
    <h2 class="text-center my-4">الكليات</h2>
    <div class="row">
        @foreach (var faculty in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card card-custom h-100">
                    @if (!string.IsNullOrEmpty(faculty.Picture))
                    {
                        <img src="@faculty.Picture" class="card-img-top" alt="@faculty.Name">
                    }
                    <div class="card-body">
                        @if (!string.IsNullOrEmpty(faculty.Logo))
                        {
                            <img src="@faculty.Logo" alt="Logo" class="LogoIndex">
                        }
                        <h5 class="card-title">@faculty.Name</h5>
                        <p class="card-text">
                            @(faculty.Description?.Length > 100 ?
                                faculty.Description.Substring(0, 100) + "..." :
                                faculty.Description)
                        </p>
                        <p class="card-text"><small class="text-muted">عدد الأقسام: @faculty.Departments?.Count</small></p>
                        <div class="d-inline-block">
                            <a href="@Url.Action("Details", "Faculty", new { id = faculty.Id })" class="btn btn-primary Action">
                                <i class="fas fa-info-circle"></i>
                            </a>
                        </div>
                        <div class="d-inline-block">
                            <a href="@Url.Action("Edit", "Faculty", new { id = faculty.Id })" class="btn btn-warning Action">
                                <i class="fas fa-edit"></i>
                            </a>
                        </div>
                        <div class="d-inline-block">
                            <!-- Form -->
                            <form asp-action="Delete" method="post" class="d-inline" id="delete-form">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="id" value="@faculty.Id" />
                                <button type="submit" class="btn btn-outline-danger Action" title="Delete" onclick="return confirm('Are you sure you want to delete this Faculty?');">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</div>

<!-- Stylesheets -->
<script src="/js/site.js"></script>



