@model IEnumerable<Models.Subject>

@{
    ViewData["Title"] = "Results Registration";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- StyleSheet -->
    <link rel="stylesheet" href="/css/ResultRegisteration.css">
</head>
<body>
    <div class="container">
        <h1 class="custom-header">Results Registration</h1>
        <h3 class="department-name">
            Department Name: @ViewBag.departmentName
        </h3>
        <table class="table table-striped table-bordered custom-table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayName("Doctor")</th>
                    <th>@Html.DisplayName("Subject Hours")</th>
                    <th>@Html.DisplayName("Summer Status")</th>
                    <th>@Html.DisplayName("Students Allowed")</th>
                    <th>@Html.DisplayName("Subject Type")</th>
                    <th>@Html.DisplayNameFor(model => model.Salary)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@ViewBag.DoctorNames[item.DoctorId]</td>
                        <td>@Html.DisplayFor(modelItem => item.SubjectHours)</td>
                        <td>@Html.DisplayFor(modelItem => item.summerStatus)</td>
                        <td>
                            @if (item.summerStatus == Models.Enums.SummerStatus.Open)
                            {
                                @Html.DisplayFor(modelItem => item.StudentsAllowed)
                            }
                            else
                            {
                                @:0
                            }
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.subjectType)</td>
                        <td>@Html.DisplayFor(modelItem => item.Salary)</td>
                        <td class="custom-table-actions">
                            <a href="@Url.Action("AddDegree", "StudentSubjects", new { Studentid = ViewBag.StudentId, Subjectid = item.Id })" class="btn-icon">
                                <i class="fas fa-plus"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>



