@model IEnumerable<Models.StudentSubjects>

@{
    ViewData["Title"] = "Degrees";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/DisplayDegrees.css">
</head>
<body>
    <h1>Degrees</h1>
    <div class="container">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>@Html.DisplayName("Subject")</th>
                    <th>@Html.DisplayNameFor(model => model.Degree)</th>
                    <th>@Html.DisplayNameFor(model => model.Grade)</th>
                    <th>@Html.DisplayName("Degree Points")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@ViewBag.SubjectNames[item.SubjectId]</td>
                        <td>@Html.DisplayFor(modelItem => item.Degree)</td>
                        <td>@Html.DisplayFor(modelItem => item.Grade)</td>
                        <td>@Html.DisplayFor(modelItem => item.DegreePoints)</td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <h1>
            Academic Information
        </h1>
        <div class="summary-info">
            <div class="row">
                <div class="col-md-6 item">
                    <h4>GPA Semester</h4>
                    <p>@ViewBag.AcademicRecords.GPASemester</p>
                </div>
                <div class="col-md-6 item">
                    <h4>Semester Points</h4>
                    <p>@ViewBag.AcademicRecords.SemesterPoints</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 item">
                    <h4>Semester</h4>
                    <p>@ViewBag.AcademicRecords.Semester</p>
                </div>
                <div class="col-md-6 item">
                    <h4>Level</h4>
                    <p>@ViewBag.AcademicRecords.Level</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 item">
                    <h4>GPA Total</h4>
                    <p>@ViewBag.AcademicRecords.GPATotal</p>
                </div>
                <div class="col-md-6 item">
                    <h4>Total Points</h4>
                    <p>@ViewBag.AcademicRecords.TotalPoints</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 item">
                    <h4>Credit Hours</h4>
                    <p>@ViewBag.AcademicRecords.CreditHours</p>
                </div>
                <div class="col-md-6 item">
                    <h4>Recorded Hours</h4>
                    <p>@ViewBag.AcademicRecords.RecordedHours</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 item">
                    <h4>Total Hours</h4>
                    <p>@ViewBag.AcademicRecords.TotalHours</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


