@model ViewModels.AddEntity
@using Models.Enums
@{
    ViewData["Title"] = "Academic Entities Registration";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Stylesheets -->
<link rel="stylesheet" href="/css/AddEntity.css">

<div class="container mt-5" style="padding-bottom: 80px;">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h2 class="mb-0">
                        <i class="fas fa-plus-circle"></i> @ViewData["Title"]
                    </h2>
                </div>
                <div class="card-body">
                    <form id="addEntityForm" asp-area="Admin" asp-action="Add" method="post" enctype="multipart/form-data">
                        @if (TempData["SuccessMessage"] != null)
                        {
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                @TempData["SuccessMessage"]
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }
                        <h3 class="mb-4">Add a new entity</h3>
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

                        <div class="mb-3">
                            <label asp-for="Name" class="form-label">Name</label>
                            <input asp-for="Name" class="form-control" placeholder="Entity Name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="mb-4">
                            <label class="form-label d-block">Entity Type</label>
                            <div class="btn-group" role="group">
                                <input type="radio" class="btn-check" name="EntityType" id="departmentType" value="Department" autocomplete="off" checked>
                                <label class="btn btn-outline-primary" for="departmentType">Department</label>

                                <input type="radio" class="btn-check" name="EntityType" id="facultyType" value="FacultyVm" autocomplete="off">
                                <label class="btn btn-outline-primary" for="facultyType">Faculty</label>

                                <input type="radio" class="btn-check" name="EntityType" id="subjectType" value="Subject" autocomplete="off">
                                <label class="btn btn-outline-primary" for="subjectType">Subject</label>
                            </div>
                        </div>

                        <!-- Department Fields -->
                        <div id="departmentFields" class="type-specific-fields">
                            <h4 class="mt-4 mb-3">Department Information</h4>
                            <div class="mb-3">
                                <label asp-for="HeadId" class="form-label">Head</label>
                                <select asp-for="HeadId" class="form-select" asp-items="@ViewBag.Heads">
                                    <option disabled><--Select--></></option>
                                </select>
                                <span asp-validation-for="HeadId" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="FacultyId" class="form-label">Faculty</label>
                                <select asp-for="FacultyId" class="form-select" asp-items="@ViewBag.Faculties">
                                    <option disabled><--Select--></></option>
                                </select>
                                <span asp-validation-for="FacultyId" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Allowed" class="form-label">Number Allowed</label>
                                <input asp-for="Allowed" class="form-control"/>
                                <span asp-validation-for="Allowed" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Faculty Fields -->
                        <div id="facultyFields" class="type-specific-fields" style="display:none;">
                            <h4 class="mt-4 mb-3">Faculty Information</h4>
                            <div class="mb-3">
                                <label asp-for="DeanId" class="form-label">Dean</label>
                                <select asp-for="DeanId" class="form-select" asp-items="@ViewBag.Deans">
                                    <option disabled><--Select--></></option>
                                </select>
                                <span asp-validation-for="DeanId" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Logo" class="form-label">Logo</label>
                                <input asp-for="Logo" type="file" class="form-control-file" id="logoInput" style="display:none;" />
                                <div id="logoPreview" class="mt-2"></div>
                                <label for="logoInput" class="custom-file-upload">
                                    <i class="fa fa-upload"></i> Upload Logo
                                </label>
                                <span asp-validation-for="Logo" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Picture" class="form-label">Picture</label>
                                <input asp-for="Picture" type="file" class="form-control-file" id="pictureInput" style="display:none;" />
                                <div id="picturePreview" class="mt-2"></div>
                                <label for="pictureInput" class="custom-file-upload">
                                    <i class="fa fa-upload"></i> Upload Picture
                                </label>
                                <span asp-validation-for="Picture" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Description" class="form-label">Description</label>
                                <textarea asp-for="Description" class="form-control" placeholder="Description"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <input type="hidden" asp-for="ViewCount" class="form-control" value = "0" />
                            </div>
                        </div>
                        <!-- Subject Fields -->
                        <div id="subjectFields" class="type-specific-fields" style="display:none;">
                            <h4 class="mt-4 mb-3">Subject Information</h4>
                            <div class="mb-3">
                                <label asp-for="DoctorId" class="form-label">Doctor</label>
                                <select asp-for="DoctorId" class="form-select" asp-items="@ViewBag.Doctors">
                                    <option disabled><--Select--></></option>
                                </select>
                                <span asp-validation-for="DoctorId" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="SubjectHours" class="form-label">Subject Hours</label>
                                <input asp-for="SubjectHours" class="form-control"/>
                                <span asp-validation-for="SubjectHours" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="StudentsAllowed" class="form-label">Students Allowed</label>
                                <input asp-for="StudentsAllowed" class="form-control"/>
                                <span asp-validation-for="StudentsAllowed" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Level" class="form-label">Level</label>
                                <select asp-for="Level" class="form-select">
                                    <option disabled><--Select--></></option>
                                    <option value="@Level.First">Level 1</option>
                                    <option value="@Level.Second">Level 2</option>
                                    <option value="@Level.Third">Level 3</option>
                                    <option value="@Level.Fourth">Level 4</option>
                                </select>
                                <span asp-validation-for="Level" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Semester" class="form-label">Semester</label>
                                <select asp-for="Semester" class="form-select">
                                    <option disabled><--Select--></></option>
                                    <option value="@Semester.First">Semester 1</option>
                                    <option value="@Semester.Second">Semester 2</option>
                                    <option value="@Semester.Third">Semester 3</option>
                                    <option value="@Semester.Fourth">Semester 4</option>
                                    <option value="@Semester.Fifth">Semester 5</option>
                                    <option value="@Semester.Sixth">Semester 6</option>
                                    <option value="@Semester.Seventh">Semester 7</option>
                                    <option value="@Semester.Eighth">Semester 8</option>
                                </select>
                                <span asp-validation-for="Semester" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="SummerStatus" class="form-label">Summer Status</label>
                                <select asp-for="SummerStatus" class="form-select">
                                    <option disabled><--Select--></></option>
                                    <option value="@SummerStatus.Closed">Not Offered</option>
                                    <option value="@SummerStatus.Open">Offered</option>
                                </select>
                                <span asp-validation-for="SummerStatus" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="SubjectType" class="form-label">Subject Type</label>
                                <select asp-for="SubjectType" class="form-select">
                                    <option disabled><--Select--></></option>
                                    <option value="@SubjectType.Mandatory">Core</option>
                                    <option value="@SubjectType.Elect">Elective</option>
                                </select>
                                <span asp-validation-for="SubjectType" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Salary" class="form-label">Salary</label>
                                <input asp-for="Salary" class="form-control"/>
                                <span asp-validation-for="Salary" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="d-grid gap-2 mt-4">
                            <button type="submit" class="btn btn-primary btn-lg">Add Entity</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Script -->
<script src="/js/addEntity.js"></script>
