@model IEnumerable<Models.Subject>
@using System.Security.Claims
@using Data.Repository.IRepository
@inject IStudentRepository studentRepository
@{
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);

    var Student = studentRepository.GetAll().FirstOrDefault(h => h.ApplicationUserId == userId);
    if (Student != null)
    {
        ViewData["Student"] = Student;
    };
}
@{
    ViewData["Title"] = "Courses Registered";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Helwan University</title>
    <link rel="icon" href="@ViewBag.LogoTitle" type="image/png">

    <!-- External Stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/SideBar.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/SubjectRegistered.css">
</head>

<body>
    <!-- Sidebar Partial -->
    @await Html.PartialAsync("~/Areas/Students/Views/Shared/StudentSidebar.cshtml")

    <div id="main-content" class="container">
        <h1 class="custom-header">Subjects Registered</h1>
        <br />
        <table class="table table-striped table-bordered custom-table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayName("Doctor")</th>
                    <th>@Html.DisplayName("Subject Hours")</th>
                    <th>@Html.DisplayName("Summer Status")</th>
                    <th>@Html.DisplayName("Summer Allowed")</th>
                    <th>@Html.DisplayName("Subject Type")</th>
                    <th>@Html.DisplayNameFor(model => model.Salary)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@ViewBag.DoctorNames[item.DoctorId]</td>
                        <td>@Html.DisplayFor(modelItem => item.SubjectHours)</td>
                        <td>@Html.DisplayFor(modelItem => item.summerStatus)</td>
                        <td>
                            @if (item.summerStatus == Models.Enums.SummerStatus.Open)
                            {
                                @Html.DisplayFor(modelItem => item.StudentsAllowed)
                            }
                            else
                            {
                                @:0
                            }
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.subjectType)</td>
                        <td>@Html.DisplayFor(modelItem => item.Salary)</td>
                    </tr>
                }
            </tbody>
        </table>
        @if (!ViewBag.Student.PaymentFees)
        {
            <!-- Centered Button -->
            <div class="text-center mt-4">
                <a class="btn btn-primary nav-button text-white mx-auto" style="max-width: 150px;" asp-area="Students" asp-controller="StudentSubjects" asp-action="Pay">
                    <i class="fas fa-receipt"></i> Payment Fees
                </a>
            </div>
        }
    </div>
</body>

</html>