@model IEnumerable<Models.Student>
@using Models.Enums;
@{
    ViewData["Title"] = "Students";
    var records = ViewBag.Records as Dictionary<int, (Level Level, Semester Semester)>;
}


<h1 class="my-4 text-center">@ViewData["Title"]</h1>

<h3 class="my-4 text-center">
    @ViewData["DepartmentName"] Department
</h3>

<!-- Styles -->
<style>
    .table th, .table td {
        text-align: center;
        vertical-align: middle;
    }

        .table td a {
            color: #007bff;
            text-decoration: none;
        }

            .table td a:hover {
                color: #0056b3;
            }
</style>

<div class="container">
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>Level</th>
                <th>Semester</th>
                <th>Register Subjects</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>
                        @if (records != null && records.ContainsKey(item.Id))
                        {
                            @records[item.Id].Level
                        }
                        else
                        {
                            @:N/A
                        }
                    </td>
                    <td>
                        @if (records != null && records.ContainsKey(item.Id))
                        {
                            @records[item.Id].Semester
                        }
                        else
                        {
                            @:N/A
                        }
                    </td>
                    <td>
                        <a href="@Url.Action("DisplaySubjects", "DepartmentSubjects", new { Studentid = item.Id })" title="Register Subject">
                            <i class="fas fa-plus fa-lg"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


