@using System.Security.Claims
@inject IHighBoardRepository highBoardRepository
@inject IDoctorRepository doctorRepository
@using Data.Repository.IRepository
@inject IUniFileRepository UniFileRepository
@inject IDepartmentRepository departmentRepository

@{
    var Images = UniFileRepository.GetAllImages();
    ViewData["LogoTitle"] = Images[0].File;
}

@{
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);

    var Highboard = highBoardRepository.GetAll().FirstOrDefault(h => h.ApplicationUserId == userId);
    var Doctor = doctorRepository.GetAll().FirstOrDefault(h => h.ApplicationUserId == userId);
    if (Doctor != null)
    {
        ViewData["Doctor"] = Doctor;
    }
    else
    {
        if (Highboard != null)
        {
            ViewData["Doctor"] = Highboard;

            if (Highboard.JobTitle == Models.Enums.JobTitle.HeadOfDepartment)
            {
                ViewData["Department"] = departmentRepository.GetDepartbyHead(Highboard.Id);
            }
        }
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HelwanUniversity</title>
    <link rel="icon" href="@ViewBag.LogoTitle" type="image/png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HelwanUniversity.styles.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="Doctors" asp-controller="University" asp-action="Index">
                    <img src="@ViewBag.LogoTitle" alt="Logo" height="300" width="60" style="margin-right: 5px" />
                </a>
                <a class="navbar-brand" asp-area="Doctors" asp-controller="University" asp-action="Index">Helwan University</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1" style="margin-top: 9px">
                        <li class="nav-item" style="margin-left: 30px;">
                            <a class="nav-link NavItems text-dark" asp-area="Doctors" asp-controller="University" asp-action="Index">
                                <img style="margin-bottom: 4px;" width="25" height="25" src="https://img.icons8.com/pulsar-color/48/home-page.png" alt="home-page" />
                                Home
                            </a>
                        </li>
                        <li class="nav-item" style="margin-left: 30px;">
                            <a class="nav-link NavItems text-dark" asp-area="Doctors" asp-controller="Faculty" asp-action="Index">
                                <img style="margin-bottom: 4px;" width="25" height="25" src="https://img.icons8.com/external-fauzidea-detailed-outline-fauzidea/64/036bb8/external-college-building-fauzidea-detailed-outline-fauzidea-2.png" alt="college-building" />
                                Faculties
                            </a>
                        </li>
                        <li class="nav-item" style="margin-left: 30px;">
                            <a class="nav-link NavItems text-dark" asp-area="Doctors" asp-controller="UniFile" asp-action="News">
                                <img style="margin-bottom: 4px;" width="25" height="25" src="https://img.icons8.com/pulsar-color/48/news.png" alt="news" />
                                News
                            </a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown" style="padding: 10px 60px 0 0">
                            <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img style="margin-bottom: 10px;" width="55" height="55" src="https://img.icons8.com/3d-fluency/94/user-male-circle.png" alt="user-male-circle" />
                            </a>
                            @if(ViewBag.Doctor != null)
                            {
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                    <div class="dropdown-item text-center">
                                        <img class="img-thumbnail rounded-circle"
                                             width="100"
                                             height="100"
                                             src="@ViewBag.Doctor.Picture"
                                             alt="doctor-icon" />
                                    </div>
                                    <p class="mt-2 mb-0 text-center">@ViewBag.Doctor.Name</p>
                                    @if (ViewBag.Doctor is HighBoard HighBoard)
                                    {
                                        if (ViewBag.Doctor.JobTitle == Models.Enums.JobTitle.DeanOfFaculty)
                                        {
                                            <p class="text-muted text-center" style="margin-top: 2px;">Dean of Faculty</p>

                                        }
                                        else if (ViewBag.Doctor.JobTitle == Models.Enums.JobTitle.HeadOfDepartment)

                                        {
                                            <p class="text-muted text-center" style="margin-top: 2px;">Head of Department</p>
                                        }
                                        else if (ViewBag.Doctor.JobTitle == Models.Enums.JobTitle.VP_For_Finance)
                                        {
                                            <p class="text-muted text-center" style="margin-top: 2px;">VP For Finance</p>
                                        }
                                    }
                                    else
                                    {
                                        <p class="text-muted text-center" style="margin-top: 2px;">@ViewBag.Doctor.JobTitle</p>
                                    }
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item d-flex align-items-center" style="color: black; text-decoration: none" asp-area="Identity" asp-controller="Account" asp-action="Manage">
                                        <img width="20" height="20" src="https://img.icons8.com/pastel-glyph/64/1A1A1A/user-male-circle.png" alt="add-user-male" />
                                        <span style="margin-left: 2px;">Account</span>
                                    </a>
                                    @if (ViewBag.Doctor is Doctor doctor)
                                    {
                                        <a class="dropdown-item d-flex align-items-center" style="color: black; text-decoration: none" asp-area="Doctors" asp-controller="Doctor" asp-action="DisplaySubject" asp-route-id="@doctor.Id">
                                            <img width="20" height="20" src="https://img.icons8.com/ios/50/1A1A1A/book--v1.png" alt="book--v1" />
                                            <span style="margin-left: 2px;">Subjects</span>
                                        </a>
                                        <a class="dropdown-item d-flex align-items-center" style="color: black; text-decoration: none" asp-area="Doctors" asp-controller="Doctor" asp-action="Details" asp-route-id="@doctor.Id">
                                            <img width="20" height="20" src="https://img.icons8.com/parakeet-line/48/1A1A1A/person-male.png" alt="book--v1" />
                                            <span style="margin-left: 2px;">Personal Data</span>
                                        </a>
                                    }
                                    else if (ViewBag.Doctor is HighBoard highBoard)
                                    {
                                        if (ViewBag.Doctor.JobTitle == Models.Enums.JobTitle.DeanOfFaculty)
                                        {

                                            <a class="dropdown-item d-flex align-items-center" style="color: black; text-decoration: none" asp-area="Doctors" asp-controller="Department" asp-action="Students" asp-route-id="@highBoard.Id">
                                                <img width="18" height="18" src="https://img.icons8.com/parakeet-line/48/1A1A1A/safety-collection-place.png" alt="add-user-male" />
                                                <span style="font-size: 15px">Faculty Students</span>
                                            </a>
                                            <a class="dropdown-item d-flex align-items-center" style="color: black; text-decoration: none" asp-area="Doctors" asp-controller="HighBoard" asp-action="Details" asp-route-id="@highBoard.Id">
                                                <img width="20" height="20" src="https://img.icons8.com/parakeet-line/48/1A1A1A/person-male.png" alt="book--v1" />
                                                <span>Personal Data</span>
                                            </a>
                                        }
                                        else if (ViewBag.Doctor.JobTitle == Models.Enums.JobTitle.HeadOfDepartment && ViewBag.Department != null)
                                        {
                                            <a class="dropdown-item d-flex align-items-center" style="color: black; text-decoration: none" asp-area="Doctors" asp-controller="Student" asp-action="StudentsByDepartment" asp-route-id="@ViewBag.Department.Id">
                                                <img width="15" height="15" src="https://img.icons8.com/parakeet-line/48/1A1A1A/safety-collection-place.png" alt="add-user-male" />
                                                <span style="font-size: 12px;">Department Students</span>
                                            </a>
                                            <a class="dropdown-item d-flex align-items-center" style="color: black; text-decoration: none" asp-area="Doctors" asp-controller="HighBoard" asp-action="Details" asp-route-id="@highBoard.Id">
                                                <img width="20" height="20" src="https://img.icons8.com/parakeet-line/48/1A1A1A/person-male.png" alt="book--v1" />
                                                <span style="margin-left: 2px;">Personal Data</span>
                                            </a>
                                        }
                                        else if (ViewBag.Doctor.JobTitle == Models.Enums.JobTitle.VP_For_Finance)
                                        {
                                            <a class="dropdown-item d-flex align-items-center" style="color: black; text-decoration: none" asp-area="Doctors" asp-controller="Student" asp-action="FeesStatus">
                                                <img width="25" height="25" src="https://img.icons8.com/parakeet-line/48/1A1A1A/safety-collection-place.png" alt="add-user-male" />
                                                <span style="margin-left: 2px;">Fees Status</span>
                                            </a>
                                            <a class="dropdown-item d-flex align-items-center" style="color: black; text-decoration: none" asp-area="Doctors" asp-controller="HighBoard" asp-action="Details" asp-route-id="@highBoard.Id">
                                                <img width="20" height="20" src="https://img.icons8.com/parakeet-line/48/1A1A1A/person-male.png" alt="book--v1" />
                                                <span style="margin-left: 2px;">Personal Data</span>
                                            </a>
                                        }
                                    }
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-danger d-flex align-items-center" style="color: black;text-decoration: none" asp-area="Identity" asp-controller="Account" asp-action="Logout">
                                        <img width="20" height="20" src="https://img.icons8.com/ios/50/logout-rounded--v1.png" alt="logout-rounded--v1" />
                                        <span style="margin-left: 10px;">Logout</span>
                                    </a>
                                </div>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - HelwanUniversity
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
